@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}


* {
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  /* padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.bg-primary {
  background-color: #2E519E;
}
.text-primary {
  color: #2E519E;
}
.text-secondary{
  color: #E7C7AC;
}
.bg-secondary{
  background-color: #E7C7AC;
}
.gray{
  background-color: #D9D9D9;
}
.soldier{
  background-color: #272F07
}

/* Tab Container */
.Tabs {
  height: auto;
}
 
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}
 
.react-tabs__tab-list {
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  padding-left: 0px;
}
 
.react-tabs__tab {
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
 
.react-tabs__tab--selected {
  color: #2E519E;
}
 
.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}
 
.react-tabs__tab:hover {
  background: rgba(50, 224, 196, 0.15);
}
 
.react-tabs__tab-panel {
  display: none;
}
 
.react-tabs__tab-panel--selected {
  display: block;
  font-size: 2rem;
  text-align: center;
}